package ${entityPackage};
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

@Getter @Setter
@ToString
public class ${entityClassName} {
#foreach(${columnInfo} in ${columnList})
    private ${columnInfo.javaType} ${columnInfo.columnName4Java};
#end
#foreach(${columnInfo} in ${columnList})
    private ${columnInfo.javaType} ${columnInfo.columnName4Java}4Where;
#end

    @Override
    public int hashCode() {
        return java.util.Objects.hash(${columnName4JavaListCsv});
    }

    @Override
    public boolean equals(Object obj) {
        if( this == obj) {
            return true;
        }
        if( obj == null ) {
            return false;
        }
        if( this.hashCode() == obj.hashCode() ) {
            return true;
        }
        return false;
    }
}