package ${entityPackage};
import org.apache.commons.lang3.builder.ReflectionToStringBuilder;
import lombok.Getter;
import lombok.Setter;

@Getter @Setter
public class ${entityClassName} {
#foreach(${columnInfo} in ${columnList})
    private ${columnInfo.javaType} ${columnInfo.columnName4Java};
#end
#foreach(${columnInfo} in ${columnList})
    private ${columnInfo.javaType} ${columnInfo.columnName4Java}4Where;
#end
    @Override
    public String toString() {
        return ReflectionToStringBuilder.toString(this);
    }

    @Override
    public int hashCode() {
        return java.util.Objects.hash(${columnName4JavaListCsv});
    }

    @Override
    public boolean equals(Object obj) {
        if( this == obj) {
            return true;
        }
        if( obj == null ) {
            return false;
        }
        if( this.hashCode() == obj.hashCode() ) {
            return true;
        }
        return false;
    }
}