<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageMapper}.${mapperClassName}">
  <!-- JavaのファイルとDBのテーブル構成のマッピング情報を記述 -->
  <resultMap type="${entityClassName}" id="${entityClassName}Result">
#foreach(${resultPart} in ${resultPartList})
    <result column=${resultPart[0]} property=${resultPart[1]}/>
#end
  </resultMap>
  <select id="selectAll" resultMap="${entityClassName}Result" >
    SELECT ${tableInfo.generateColumnStr4Select()} FROM ${tableInfo.tableName};
  </select>

  <select id="selectByValue" resultMap="${entityClassName}Result" parameterType ="${entityClassName}">
    SELECT ${tableInfo.generateColumnStr4Select()} FROM ${tableInfo.tableName}
    <where>
#foreach(${wherePart} in ${wherePartList})
      <if test= "${wherePart[0]} != null ">AND ${wherePart[1]} = ${wherePart[2]} </if>
#end
    </where>
  </select>

  <insert id="insert" parameterType="${entityClassName}" >
    INSERT INTO ${tableInfo.tableName} ( ${tableInfo.generateColumnStr4Select()} ) 
    VALUES (${tableInfo.generateColumnStr4InsertValues()});
  </insert>

  <update id="updateByValue" parameterType="${entityClassName}" >
    UPDATE  ${tableInfo.tableName}
    <set>
#foreach(${setPart} in ${setPartList})
      <if test="${setPart[0]}!= null ">${setPart[1]} = ${setPart[2]},</if>
#end
    </set>
    <where>
#foreach(${wherePart} in ${wherePartList})
      <if test= "${wherePart[0]} != null ">AND ${wherePart[1]} = ${wherePart[2]} </if>
#end
    </where>
  </update>

  <delete id="deleteByValue" parameterType="${entityClassName}" >
    DELETE FROM ${tableInfo.tableName}
    <where>
#foreach(${wherePart} in ${wherePartList})
      <if test= "${wherePart[0]} != null ">AND ${wherePart[1]} = ${wherePart[2]} </if>
#end
    </where>
  </delete>
</mapper>